ion-slides {
  height: 100%;
}

.toolbar-segment {
  margin-bottom: 30px !important;
}

.segment-button-checked {
  background: #12ce8f;
}

.segment-button-indicator-background {
  background: #12ce8f;
}