.SeekerRegister {

.btn-container {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.btn-next {
    width: 100%;
    border-radius: 10px;
}

.button-round {
    border-radius: 10px;
}
}