.Home {
  height: 100%;

  .first-text {
    font-size: 14px;
    font-weight: 600;
    color: #000c09;
    margin-bottom: 5px;
  }

  .second-text {
    font-size: 16px;
    font-weight: 200;
    color: #000c09;
    margin-bottom: 5px;
  }

  .homeBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #12ce8f;

    span {
      font-weight: 600;
      color: #6b9080;
    }
  }

  .searcher {
    .link-text {
      background-color: #12ce8f;
      border-color: #12ce8f;
      color: #ffffff;
    }
  }

  .employee {
    .link-text {
      background-color: transparent;
      border-color: #ffff;
      color: #fff;
    }
  }

  .link-text {
    display: flex;
    width: 200px;
    height: 45px;
    border: 1px solid;
    margin: 10px;
    border-radius: 5px;
    font-family: "Roboto-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
}
