.Header {
  background-color: #12ce8f;
  height: 50px;
  width: 100%;

  .size {
    font-size: 29px;
  }

  .spacer-icons {
    margin-left: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    .left {
      width: 50px;
      text-align: center;
    }
    .logo {
      width: calc(100% - 100px);
      color: #fff;
      font-weight: 700;
      margin-left: 25px;
    }

    .right {
      display: flex;
      width: 130px;
    }
  }
}
